.search-input {
  border-radius: 4px 0 0 4px !important;
}

.nav-icon {
  color: #333;
  text-decoration: none;
}

.nav-icon:hover {
  color: #007bff;
}

#nav-options .nav-link {
  font-weight: 500;
  color: #444 !important;
}

#nav-options .nav-link:hover {
  color: #007bff !important;
}
